@font-face {
  font-family: helvetica;
  src: url(HelveticaNowDisplay-Regular.ttf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: normal;
}

html, body {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2.0em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.4em;
}
h6 {
    font-size: 1.2em;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.sidebar {
    position: fixed;
    width: 290px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    box-shadow: 8px 0 5px 0px #ccc;
}

.brand-logo {    
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sidebar-footer {
    bottom: 0;
    position: fixed;
    margin-bottom: 10px;
    margin-top: 10px;
    left: 0;
    padding-left: 30px;
}


.footer {
    padding: 1em 0;
    clear: both;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 768px) {
    .main {
        padding-left: 270px; /* 270 + 40 */
    }

    .header {
        margin: 10px;
        text-align: left;
    }
    
    .footer-img {
        display: flex;
        justify-content: flex-end;
        vertical-align: baseline;
    }

    .footer {
        text-align: center;
    }
}

/* Button styles */
.button-green,
.button-purple,
.button-purple-outline {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 8px 20px;
    font-size: 12px;
}

.button-green {
    background: #3a7920;
    color: white;
    border: 2px solid #3a7920;
}

.button-purple {
    background: #462a69;
    color: white;
    border: 2px solid #462a69;
}

.button-purple-outline {
    background: #fff;
    border: 2px solid #462a69;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width:100%;
}

.btn-upload {
  border: 2px solid #462a69;
  color: #462a69;
  background-color: white;
  padding: 8px 21px;
  border-radius: 4px;
  font-size: 1em;
}

.upload-btn-wrapper input[type=file] {
  font-size: 1em;
  padding: 8px 21px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/*===============================================*/
/* Text colors */
.text-purple {
    color: #462a69;
}
.text-danger {
    color: red;
}

/* Margins */
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}

.powered, .logo {
    width: 25%;
    height: fit-content;
}

.powered {
    margin-right: 5px;
    margin-top: 8px;
}

