@font-face {
  font-family: helvetica;
  src: url(HelveticaNowDisplay-Regular.ttf);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 10;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.sidebar {
    background: #fff;
    box-shadow: 10px 0 5px -2px #ccc;
}
.brand-logo {
    display: flex;
    justify-content: space-between;
}

.sidebar-footer {
    bottom: 0;
    position: fixed;
    text-align: right;
    margin-bottom: 10px;
}

.sidebar-footer img {
    vertical-align: middle;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 768px) {
    .content {
        padding: 10px 30px;
        margin-left: 25%;
    }

    .header {
        margin: 10px;
        text-align: left;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 20px;
    }

    .footer {
        text-align: center;
    }
}

/* Button styles */
.button-green,
.button-purple,
.button-purple-outline {
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    font-size: 12px;
}

.button-green {
    background: #3a7920;
    color: white;
    border: 2px solid #3a7920;
}

.button-purple {
    background: #462a69;
    color: white;
    border: 2px solid #462a69;
}

.button-purple-outline {
    background: #fff;
    border: 2px solid #462a69;
}

/* Text colors */
.text-purple {
    color: #462a69;
}

/* Margins */
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}